$colors: (
  'black':  #000,
  'sky':    #37a0f4,
  'blue':   #001f78,
  'honey':  #f8a912,
  'grey':   #565656,
  'lime':   #4ae54a,
  'navy':   #022589,
  'red':    #c00,
  'white':  #fff,
  'yellow': #fccc02,
);

$colors: map-merge($colors, (
  'greyscale-0':    #000,
  'greyscale-10':   #363636,
  'greyscale-20':   #363636,
  'greyscale-30':   #565656,
  'greyscale-40':   #6b6b6b,
  'greyscale-50':   #898989,
  'greyscale-60':   #9a9a9a,
  'greyscale-70':   #d8d8d8,
  'greyscale-80':   #f2f5fa,
  'greyscale-90':   #f4f4ee,
  'greyscale-100':  #fff
  )
);

$colors: map-merge($colors, (
    'bg-primary':   map-get($colors, 'white'),
    'bg-secondary': map-get($colors, 'greyscale-80'),
    'text-dark':    map-get($colors, 'greyscale-30'),
    'text-light':   map-get($colors, 'white'),
    'error':        map-get($colors, 'red'),
    'warning':      map-get($colors, 'yellow'),
    'success':      map-get($colors, 'lime')
  )
);

$mq-xs: 375px;
$mq-sm: 480px;
$mq-md: 600px;
$mq-lg: 900px;
$mq-xl: 1200px;

$containers: (
  'sm': 60rem,  // 960px
  'md': 80rem,  // 1280px
  'lg': 90rem,  // 1440px
  'xl': 120rem  // 1920px
);

$base-font-size: 16;

$font-gilroy: 'Gilroy', 'Helvetica', 'Arial', 'sans-serif';
$font-times-new-roman: 'Times New Roman', serif;

$font-sans-serif: $font-gilroy;
$font-serif: $font-times-new-roman;

$timing: cubic-bezier(.77, 0, .175, 1);

$transitions: (
  'fast':   .1s $timing,
  'normal': .3s $timing,
  'slow':   .5s $timing,
);

$z-index: (
  'header': 1000,
  'header-nav': 1100,
  'header-ele': 1200,
  'dropdown': 1300
);
