// Base colours
$colors: (
  black: #1a1a1a,
  grey: #808080,
  grey-dark: #404040,
  grey-light: #bfbfbf,
  yellow: #efc100,
  white: #fff
);

// Colour variations
$colors: map-merge(
  $colors,
  (
    grey-0: map-get($colors, white),
    grey-25: map-get($colors, grey-light),
    grey-50: map-get($colors, grey),
    grey-75: map-get($colors, grey-dark),
    grey-100: map-get($colors, black)
  )
);
