.visuallyhidden {
  @extend %screen-hide;
}

.clearfix {
  @extend %clearfix;
}

.no-script {
  background-color: color('white');
  border-top: 1px solid color('grey-alpha50');
  bottom: 0;
  display: block;
  left: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
